<section class="grid grid-cols-4 grid-rows-4 grid-flow-row">
	<div class="bg-light paddingfix">
		<p class="date">
			<i class="far fa-calendar-alt"></i>
			23 mai 2014
		</p>
		<h4>News Headline</h4>
		<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est alias a, mollitia hic.</p>
	</div>
	<div class="bg-gray-900 paddingfix">
		<p class="date">
			<i class="far fa-calendar-alt"></i>
			23 mai 2014
		</p>
		<h4>News Headline</h4>
		<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est alias a, mollitia hic.</p>
	</div>
	<div class="col-span-2 gridmap paddingfix">
		<h3 class="date">17 mai</h3>
		<h4>Headline Beitrag 2015</h4>
		<span>Subtitle</span>
		<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est alias a, mollitia hic.</p>
	</div>
	<div class="col-span-2 row-span-2">
		<img src="images/grid1.jpg" alt="boat" />
	</div>
	<div class="col-span-2 gridmap2 px-8 pb-4 pt-24">
		<h3 class="date">17 mai</h3>
		<h4>Headline Beitrag 2015</h4>
		<span>Subtitle</span>
		<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est alias a, mollitia hic.</p>
	</div>
	<div><img src="images/grid2.jpg" alt="boat" /></div>
	<div><img src="images/grid3.jpg" alt="boat" /></div>
	<div class="col-span-2 news">
		<i class="fa fa-newspaper"></i>
		<h3>News+Bilder</h3>
	</div>
	<div class="flex col-span-2 calendar justify-center items-center flex-column">
		<span class="block"><i class="far fa-calendar-alt"></i></span>
		<h3>Segelteam Termine 2014</h3>
	</div>
</section>
