<!-- Hero element -->
<div class="hero grid md:grid-cols-2">
	<div class="hero_left hidden md:block"></div>
	<div class="hero_right px-12 md:pl-28 md:pr-12 text-center flex justify-center flex-col">
		<h1>Lorem ipsum proin gravi</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est alias a, mollitia hic provident quo.</p>
	</div>
</div>
