<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
	<div class="modal_overlay" tabindex="-1" data-micromodal-close>
		<div id="outer" class="flex">
			<div class="modal_container relative" role="dialog" aria-modal="true">
				<div class="modal_inner bg-white relative mx-auto pt-16">
					<article class="modal_article mx-auto px-24 pb-12">
						<div class="article_header text-black">
							<div class="date"><i class="far fa-calendar-alt mr-4"></i> 23 mai 2014</div>
							<div class="mb-12">
								<h2>Newsartikel headline</h2>
								<h4>lorem ipsum proin gravida nibh vel velit</h4>
								<hr />
							</div>
						</div>
						<div>
							<p>
								Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in
								erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
							</p>
							<p>
								Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in
								erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
							</p>
							<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
							<p>
								Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in
								erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
								amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostr.
							</p>
							<img src="images/grid1.jpg" alt="boat" />
						</div>
					</article>
					<div class="carousel_wrapper py-12">
						<div class="carousel mx-auto px-12">
							<h4>Ältere Artikel</h4>
							<div class="carousel_inner flex space-x-8">
								<div class="carousel_inner_item">
									<img src="images/grid2.jpg" alt="article" />
									<h5>Headline von einem alteren artikel</h5>
									<p>lLorem ipsum dolr sit amet consecteur adipiscng elit. Saep st alias a, mollita hic provident quo impedit illum assumenda tempore facer optio harum enim accusamus, incidunt ex voluptaum evniet corporis?</p>
								</div>
								<div class="carousel_inner_item">
									<img src="images/grid2.jpg" alt="article" />
									<h5>Headline von einem alteren artikel</h5>
									<p>lLorem ipsum dolr sit amet consecteur adipiscng elit. Saep st alias a, mollita hic provident quo impedit illum assumenda tempore facer optio harum enim accusamus, incidunt ex voluptaum evniet corporis?</p>
								</div>
								<div class="carousel_inner_item">
									<img src="images/grid2.jpg" alt="article" />
									<h5>Headline von einem alteren artikel</h5>
									<p>lLorem ipsum dolr sit amet consecteur adipiscng elit. Saep st alias a, mollita hic provident quo impedit illum assumenda tempore facer optio harum enim accusamus, incidunt ex voluptaum evniet corporis?</p>
								</div>
								<div class="carousel_inner_item">
									<img src="images/grid2.jpg" alt="article" />
									<h5>Headline von einem alteren artikel</h5>
									<p>lLorem ipsum dolr sit amet consecteur adipiscng elit. Saep st alias a, mollita hic provident quo impedit illum assumenda tempore facer optio harum enim accusamus, incidunt ex voluptaum evniet corporis?</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="buttons flex flex-col">
				<button id="close" aria-label="Close modal" data-micromodal-close>
					<svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
				<button id="facebook"><i class="fab fa-twitter hover:text-red"></i></button>
				<button id="twitter"><i class="fab fa-facebook-f hover:text-red"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
	<div class="modal_overlay" tabindex="-1" data-micromodal-close>
		<div id="outer" class="flex">
			<div class="modal_container relative" role="dialog" aria-modal="true">
				<div class="modal_inner bg-white relative mx-auto pt-16">
					<article class="mx-auto px-24 pb-12">
						<div class="article_header text-black">
							<div class="mb-12">
								<h2>Newsartikel headline</h2>
								<h4>lorem ipsum proin gravida nibh vel velit</h4>
								<hr />
							</div>
						</div>
						<div class="calendar">
							{% block cal_entry %}
							<div class="calendar_entry py-8 w-full flex justify-between">
								<div class="cal_date"><i class="far fa-calendar-alt mr-8"></i>23-24 mai 2021</div>
								<div class="cal_desc">Lorem ipsum dolor sit amet</div>
								<div class="cal_place">Mondsee</div>
								<div class="cal_perm">Alle Klassen</div>
							</div>
							{% endblock cal_entry %}
							{{ block("cal_entry") }}
							{{ block("cal_entry") }}
							{{ block("cal_entry") }}
							{{ block("cal_entry") }}
						</div>
					</article>
				</div>
			</div>
			<div class="buttons flex flex-col">
				<button id="close" aria-label="Close modal" data-micromodal-close>
					<svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
				<button id="facebook"><i class="fab fa-twitter hover:text-red"></i></button>
				<button id="twitter"><i class="fab fa-facebook-f hover:text-red"></i></button>
			</div>
		</div>
	</div>
</div>
