<section class="team">
	<div class="title text-center">
		<h2>Headline - Lorem Ipsum</h2>
		<span class="sub">Subtitle lorem ipsum</span>
	</div>
	<div class="team_inner grid grid-cols-5">
		<div class="member">
			<div class="side">text here</div>
		</div>
	</div>
</section>
